# Node
node_modules
npm-debug.log*
yarn-error.log*

# Env
.env

# Prisma / SQLite
backend/prisma/dev.db
backend/prisma/*.db
backend/prisma/*.db-journal
*.sqlite
*.sqlite-journal

# Next.js
frontend/.next
frontend/out

# Build
dist
build

# macOS
.DS_Store