# Node
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json

# Env
.env

# Prisma / SQLite
backend/prisma/dev.db
backend/prisma/*.db
backend/prisma/*.db-journal
*.sqlite
*.sqlite-journal

# Next.js
frontend/.next
frontend/out

# Misc
.DS_Store
dist
build